<div class="container">
  <div class="page-header">
    <h1>Update Assessment</h1>
  </div>

  <%= render partial: "shared/errors", locals: {object: @assessment} %>

  <%= render partial: "form", locals: {button_name: "Update Assessment"} %>

</div>
