<div class="container">
  <div class="page-header">
    <h1>Update Workout</h1>
  </div>

  <%= render partial: "shared/errors", locals: {object: @workout} %>

  <%= render partial: "form", locals: {button_name: "Update Workout"} %>

</div>
