<div class="container">
  <div class="jumbotron">
      <div class="pull-right">
        <%= link_to "New Client", new_client_path, class: "btn btn-sample btn-lg" %>
      </div>
      <p><h1>Alley's Clients</h1></p>
  </div>

  <table class='table'>
    <thead>
      <tr>
        <th><strong>Client Name</strong></th>
      </tr>
    </thead>
    <% @clients.each do |client| %>
    <tr>
      <td><%= link_to client.name, client_path(client) %></td>
    </tr>
    <% end %>
  </table>
</div>
