<div class="container">
  <div class="page-header">
    <div class="pull-right">
    <%= link_to "Edit", edit_client_path(@client), class: "btn btn-primary" %>
  </div>
    <h1><%= @client.name %></h1>
  </div>



</div>
