<div class="container">

  <div class="jumbotron">
      <p><h1>AlleyFit</h1></p>
      <p>Today is the day to change your life</p>

      <div class="pull-right">
          <p><%= link_to "Client Login", sign_in_path, class: "btn btn-custom btn-lg" %>
            <%= link_to "Client Sign Up", sign_up_path, class: "btn btn-custom btn-lg" %></p>

          <p><%= link_to "Trainer Login", trainers_path, class: "btn btn-sample btn-lg" %>
            <%= link_to "Trainer Sign Up", trainers_path, class: "btn btn-sample btn-lg" %></p>        </ul>
      </div>

    <br />

    <br />
    <br />
    <br />
  </div>
</div>
