<div class="container">
  <div class="page-header">
    <h1>New Food Log</h1>
  </div>

  <%= render partial: "shared/errors", locals: {object: @food_log} %>

  <%= render partial: "form", locals: {button_name: "Create Food Log"} %>

</div>
